.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .content {
    position: relative;
margin-top: 50px;
    width: 67%;
    height:auto;
 /* adjust max-width as needed */
    background-color: rgba(0, 0, 0, 0.0); /* white background for content */
    
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(84, 74, 74, 0.2); /* slight shadow effect */
  }

  .close-btn {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 16.5%;
    cursor: pointer;
    color:white;
    font-size: 40px;
    font-weight: 900;
    z-index: 11;
    background-color: rgba(60, 37, 37, 0.2);
    padding:0px 10px;
    
  }
